@import './mixins/mixins';

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --blue: #4864ff;
    --bg-color1: #fff;
    --bg-color2: #f5f5f5;
    --main-color: #001529;
    --text-color1: #001529;
    --text-color2: #000000;
}

.wrapper {
    width: 100%;
    padding: 1rem;
    border-radius: 10px;
}

.content {
    @include d-flex(column, flex-start, center);
    gap: 2rem;
}

.App {
    color: var(--text-color1);
    background-color: var(--bg-color1);
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  &.light-grey {
    color: lightgrey;
  }
}

.modal {
  max-width: 600px;
  .ant-modal-body {
    padding: 24px;
  }
}